body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

header h1 {
    flex: 1;
    text-align: center;
}

.login-button {
    position: absolute;
    right: 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-panel, .right-panel {
    width: 25%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-panel {
    margin-right: 20px; /* Abstand zur Mitte */
}

.right-panel {
    margin-left: 20px; /* Abstand zur Mitte */
}

.center-panel {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px; /* Abstand zwischen dem Logo und den Seiten */
}

.logo {
    max-width: 100%;
    height: auto;
    border-radius: 15px; /* Runde Kanten für das Bild */
}

.play-button {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 15px; /* Runde Kanten für den Button */
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ol {
    padding-left: 20px;
    text-align: left;
}
